Repository tsvikas/nbcat: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-ipynb, mypy-local, disallow-caps

Path conditions:
  forbid-ipynb: any of: \.ipynb$ and not (tests/test_app/notebook.ipynb) and not (^.cruft.json|.copier-answers.yml$)
  mypy-local: any of: (\.pyi?|^uv.lock$), but not: ^.cruft.json|.copier-answers.yml$
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^.cruft.json|.copier-answers.yml$

switch to vcs version
  .copier-answers.yml
  .gitignore
  pyproject.toml
  src/nbcat/__init__.py
Due: mypy-local, disallow-caps

add hidden dependency ipython
  pyproject.toml
  uv.lock
Due: mypy-local, disallow-caps

update from template
  .copier-answers.yml
  .editorconfig
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/lint_and_test.yml
  .gitignore
  .justfile
  .pre-commit-config.yaml
  .python-version
  .yamllint.yaml
  README.md
  justfile
  pyproject.toml
  uv.lock
Due: mypy-local, disallow-caps

remove unused tags
  README.md
Due: disallow-caps

update from template
  .copier-answers.yml
  .github/dependabot.yml
  .pre-commit-config.yaml
  README.md
  justfile
Due: disallow-caps

🔧 Update python-template: Enhance CI workflow and improve task management system
  .copier-answers.yml
  .github/workflows/ci.yml
  justfile
Due: disallow-caps

📝 Remove docs badge
  README.md
Due: disallow-caps

!fixup
  .pre-commit-config.yaml
Due: none

Add alternatives section to README
  README.md
Due: disallow-caps

🔧 Update python-template
  .copier-answers.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  justfile
  pyproject.toml
  uv.lock
Due: mypy-local, disallow-caps
