Repository tsvikas/nbcat: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-ipynb, mypy-local, disallow-caps

Path conditions:
  forbid-ipynb: any of: \.ipynb$ and not (tests/test_app/notebook.ipynb) and not (^.cruft.json|.copier-answers.yml$)
  mypy-local: any of: (\.pyi?|^uv.lock$), but not: ^.cruft.json|.copier-answers.yml$
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^.cruft.json|.copier-answers.yml$

chore: update copier answers
  .copier-answers.yml
Due: none

metadata: copyright
  src/nbcat/__init__.py
Due: mypy-local, disallow-caps

build [precommit]: use jupyter types
  .pre-commit-config.yaml
Due: none

build: add github workflows (?)
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
Due: disallow-caps

metadata: add badges
  README.md
Due: disallow-caps

Update README.md with uv
  README.md
Due: disallow-caps

fix: badges
  README.md
Due: disallow-caps

fix precommit action version
  .github/workflows/pre-commit.yml
Due: disallow-caps

add uv to pre-commit action
  .github/workflows/pre-commit.yml
Due: disallow-caps

test with matrix of resolutions
  .github/workflows/test.yml
Due: disallow-caps

upgrade in matrix
  .github/workflows/test.yml
Due: disallow-caps

add test action
  .github/workflows/test.yml
Due: disallow-caps

Update tests badges
  README.md
Due: disallow-caps

Create test_python_prerelease
  .github/workflows/test_python_prerelease.yml
Due: disallow-caps

allow fail in test_python_prerelease.yml
  .github/workflows/test_python_prerelease.yml
Due: disallow-caps

add python version
  .python-version
Due: mypy-local, disallow-caps

prettier for badges
  README.md
Due: disallow-caps

precommit update
  .pre-commit-config.yaml
Due: none

precommit update
  .copier-answers.yml
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .github/workflows/test_python_prerelease.yml
  .github/workflows/tests.yml
  README.md
Due: disallow-caps

weird uv lock change
  uv.lock
Due: mypy-local, disallow-caps

fix black gh action
  .github/workflows/lint.yml
Due: disallow-caps

don't run mypy with precommit.ci
  .pre-commit-config.yaml
Due: none

copier update: more dependencies
  .github/workflows/tests.yml
  pyproject.toml
  uv.lock
Due: mypy-local, disallow-caps

copier update: tool settings
  pyproject.toml
Due: disallow-caps

copier update: precommit settings
  .pre-commit-config.yaml
Due: none

copier update: improve gitignore
  .gitignore
Due: disallow-caps

copier update: minor code improves
  src/nbcat/__main__.py
  src/nbcat/cli.py
Due: mypy-local, disallow-caps

copier update: update precommit hook version
  .pre-commit-config.yaml
Due: none

copier update: add test to the version
  tests/test_app.py
Due: mypy-local, disallow-caps

copier update: add hooks to precommit
  .pre-commit-config.yaml
Due: none

copier update: switch to just
  .justfile
  README.md
  pyproject.toml
Due: disallow-caps

copier update: update black version in the github action
  .github/workflows/lint.yml
Due: disallow-caps

copier update: python docstrings
  src/nbcat/__init__.py
  src/nbcat/__main__.py
  src/nbcat/cli.py
Due: mypy-local, disallow-caps

copier update: pyproject formatting
  pyproject.toml
Due: disallow-caps

copier update: copier metadata
  .copier-answers.yml
Due: none

copier update: add dunamai
  README.md
  pyproject.toml
  uv.lock
Due: mypy-local, disallow-caps

uv sync upgrade
  uv.lock
Due: mypy-local, disallow-caps

copier update
  .copier-answers.yml
  .github/workflows/lint.yml
  .github/workflows/lint_and_test.yml
  pyproject.toml
  uv.lock
Due: mypy-local, disallow-caps

copier update
  .copier-answers.yml
  .justfile
Due: disallow-caps

copier update
  .copier-answers.yml
  pyproject.toml
Due: disallow-caps
